# created by virtualenv automatically
__pycache__/
.idea/
venv/
/shelf/
/workspace.xml
/db_store
*.png
*.jpeg
*.jpg
*.py[cod]
*$py.class
*.pyc
.Python
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
alembic/
/front_test/